/**{
    box-sizing: border-box;
}*/

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    max-width: 480px;
    background-color: aquamarine;
    background-image: url("img/form-fondo.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: block;
}

section {
    margin: 0px;
    max-width: 100vw;
    max-height: 100vw;
    padding: 10px 10px;
}

h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px;
    max-width: 100vw;
}
#form {
    margin: auto;
    max-width: 460px;
    max-height: 100vw;
    
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 00px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.7);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    color: black;
    background-color: darkturquoise;
    margin: auto;
}

button:hover{
    background-color: rgb(1, 237, 241);
}

#botones{
    background-color: transparent;


    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
input {
    margin: 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.7) ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    background-color: rgb(117, 255, 244);
    width: 440px;
}

input:hover{
    color: whitesmoke;
    background-color: whitesmoke;
}

textarea {
    margin: 0px;
    margin-top: 5px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.7) ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    background-color: rgb(117, 255, 244);
    width: 440px;
    height: 200px;
}

input, textarea{
    align-items: center center;
}
textarea:hover{
    color: black;
    background-color:whitesmoke;
}
.section_btn{
    
    width: 100%;
    margin: auto;
}
